name: links

on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "00 18 * * *"

jobs:
  links:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions/checkout@v4

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2
        with:
          args: --verbose --no-progress './**/*.md' --max-retries 2
          fail: true
