# Automatically sorts the README file alphabetically when README.md is modified
name: sort-readme

on:
  push:
    paths:
      - 'README.md'

jobs:
  sort:
    runs-on: ubuntu-latest

    # avoid running this action on a loop
    if: "!contains(github.event.head_commit.message, '[automated] sort README')"

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: sort readme
        run: python sort.py

      - name: Commit files
        run: |
          git config --local user.email "github@uu.nl"
          git config --local user.name "GitHub Utrecht University"
          git add .
          git commit -m "[automated] sort README"
        continue-on-error: true

      - name: Push changes
        run: git push
        continue-on-error: true
